@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared style */
.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}
/* dark 02 */
.text-gray{
    color: #424242;
}

/* dark 03  */
.text-light-gray{
    color:#727272 ;
} 

.feature-title{
    font-size: 2.8rem;
    font-weight: 700;

} 


.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}


.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
    outline: 0;
    border-radius: 8px;
} 



/* header style */
header{
    padding: 0 240px;
}
/* nav bar related style */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

} 

/*  nav bar */ 

.navbar{
    justify-content: space-between;
    align-items: center;
} 

.brand{
    font-weight: 700;
    font-size:3rem ;
}


.nav-item{
    list-style: none;
    margin-right: 30px;
} 
.nav-link{
    text-decoration: none;
    font-weight: 500;

} 

/* banner related style */ 
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
} 
.banner-title{
    font-weight:700 ;
    font-size: 4rem;
} 

.banner-image{
    width: 100%;
} 

/* main  */ 

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}
/* teams and features related style */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our-features{
    margin-left:130px;
    max-width:530px;
} 



.quick-list{
    font-weight: 500;
}


/* reponsive media query */

@media screen and (max-width:576px) {
    .nav-bar, .nav-links, .teams {
        flex-direction: column;
    } 
    .team-img-container{
        grid-template-columns: 1fr;
    } 

    .our-features{
        margin-left:30px ;
        margin-top: 20px;
    }
} 


/*  medium sixe device */ 

@media screen and (min-width:577px) and (max-width:992px){
    .teams{
        flex-direction: column;
    } 
    .our-features{
        margin-left:50px auto;
    }
}